.m-c{
    box-sizing: border-box;
    margin: 0;
    border: 1px solid black;
}
.n-c{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.col1{
    width: 50%;
    padding-left: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.col-l{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.n-l{
    text-decoration: none;
    color: whitesmoke;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

@media screen and (max-width: 580px) {
    .n-c{
        flex-direction: column;
    }
    .col1{
        width: 100%;
        border-bottom: 1px solid whitesmoke;
    }
    .col1 h3{
        padding-left:0 10px;
    }
    .col-l{
        flex-direction: column;
        width: 100%;
     }

     .n-l{
         padding: 10px;
         width: 100%;
         margin-left: 20px;
     }

     .n-l:hover{
         cursor: pointer;
         background-color:rgb(143, 15, 15);
     }
     
}